{{#if single_page}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{my_twitter}}">
<meta name="twitter:creator" content="@{{screen_name}}">
<meta name="twitter:title" content="Tweet-verified fact">
<meta name="twitter:description" content="#ferritfacts">
<meta name="twitter:image" content="{{my_url}}/{{screen_name}}/img/{{fcode}}.png">
{{/if}}
<div>
  <article class='card'>
    {{#if summary}}
    <header>
      {{summary}}
    </header>
    {{/if}}
    <a href='http://twitter.com/{{screen_name}}/status/{{id}}'>
      <img class='ferrit' src='img/{{fcode}}.png' alt='{{text}}'>
    </a>
    {{#if single_page}}
    <footer>
      <a class='download-link' href='img/{{fcode}}.png' alt='Download this ferrit'></a>
      <a class='facebook-share' href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2F{{my_url}}/{{fcode}}' alt='Share on facebook'></a>
      <a href="https://twitter.com/share" class="twitter-share-button"
        data-hashtags="ferritfacts" data-related="ferritus"
        data-show-count="false">Tweet</a>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </footer>
    {{/if}}
    Single Page: {{single_page}}
  </article>
</div>
