<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/picnic@6.4.0/picnic.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <link rel="icon" type="image/png" href="{{my_logo}}">
  <script src="https://use.fontawesome.com/b7d9aa9e12.js"></script>
	<title>{{screen_name}} ferrified facts</title>

  <meta property="og:url"           content="{{my_url}}/{{screen_name}}" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="{{screen_name}} ferrified" />
  <meta property="og:description"   content="Verified by tweets, the truest facts of all" />
  <meta property="og:image"         content="{{my_url}}/{{my_logo}}" />

</head>

<body>
<div class='top-fixed'><div class="top-message">Media for the 69...nice...million</div></div>
<nav class="header">
  <a href="#" class="brand">
    <img class="logo" src="{{my_logo}}" />
  </a>

  <div class="menu">
    <a href="http://twitter.com/ferritus" class="pseudo button fa fa-twitter" alt="twitter">
    </a>
    <a href="#hashtags" class="pseudo button fa fa-hashtag" alt="hashtag ferrits">
    </a>
    <a href="#users" class="pseudo button fa fa-user" alt="user ferrits">
    </a>
  </div>
</nav>

<div class="container">
<div class="flex two">
	{{#each fcodes}}
	<div class='ferrit'>
  	<a href='/{{@key}}'>
    	<img class='ferrit' src='/img/{{@key}}.png' alt='{{this}}'></a>
	</div>
	{{/each}}
</div>
</div>
</body>
