<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/picnic@6.4.0/picnic.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="icon" type="image/png" href="/img/ferrit-logo.png">
  <script src="https://use.fontawesome.com/b7d9aa9e12.js"></script>
	<title>{{screen_name}} ferrified</title>

  <meta property="og:url"           content="{{my_url}}/{{screen_name}}" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="{{screen_name}} ferrified" />
  <meta property="og:description"   content="Verified by tweets, the truest facts of all" />
  <meta property="og:image"         content="{{my_url}}/img/{{logo_img}}" />

</head>

<body>
<div class='top-fixed'><div class="top-message">Media for the 69...nice...million</div></div>
<nav class="header">
  <a href="#" class="brand">
    <img class="logo" src="/img/ferrit-logo.png" />
  </a>

  <!-- responsive-->
  <input id="bmenub" type="checkbox" class="show">
  <label for="bmenub" class="burger pseudo button">menu</label>

  <div class="menu">
    <a href="http://twitter.com/ferritus" class="pseudo button fa fa-twitter" alt="twitter">
    </a>
    <a href="#hashtags" class="pseudo button fa fa-hashtag" alt="hashtag ferrits">
    </a>
    <a href="#users" class="pseudo button fa fa-user" alt="user ferrits">
    </a>
  </div>
</nav>

</body>
