<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/picnic@6.4.0/picnic.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <link rel="icon" type="image/png" href="{{my_logo}}">
  <script src="https://use.fontawesome.com/b7d9aa9e12.js"></script>
	{{#if hashtag}}
	<title>{{screen_name}} ferrified {{hashtag}} fact</title>
	{{else}}
	<title>{{screen_name}} ferrified fact</title>
	{{/if}}

  <meta property="og:url"           content="{{my_url}}/{{screen_name}}" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="{{screen_name}} ferrified" />
  <meta property="og:description"   content="Verified by tweets, the truest facts of all" />
  <meta property="og:image"         content="{{my_url}}/{{my_logo}}" />

</head>

<body>
<div class='top-fixed'><div class="top-message">Media for the 69...nice...million</div></div>
<nav class="header">
  <a href="/" class="brand">
    <img class="logo" src="{{my_logo}}" />
  </a>

  <div class="menu">
		<a href="/wtf" class="pseudo button fa fa-info" alt="about"></a>
    <a href="http://twitter.com/ferritus" class="pseudo button fa fa-twitter" alt="twitter">
    </a>
		<label for="modal_hashtags" class="pseudo button fa fa-hashtag"></label>
    <label for="modal_users" class="pseudo button fa fa-user"></label>
  </div>
</nav>

<div class="modal">
	<input id="modal_hashtags" type="checkbox" />
	<label for="modal_hashtags" class="overlay"></label>
	<article>
		<section class="content">
		<div class="flex two">
		{{#each hashtags}}
			<div>
				<a class="pseudo button" href="/hashtags/{{this}}">#{{this}}</a>
			</div>
		{{/each}}
		</section>
		</div>
	</article>
</div>

<div class="modal">
	<input id="modal_users" type="checkbox" />
	<label for="modal_users" class="overlay"></label>
	<article>
		<section class="content">
		<div class="flex two">
		{{#each screen_names}}
			<div>
				<a class="pseudo button" href="/{{this}}">@{{this}}</a>
			</div>
		{{/each}}
		</section>
		</div>
	</article>
</div>

<!--Twitter metadata, unique for each tweet -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{my_twitter}}">
<meta name="twitter:creator" content="@{{screen_name}}">
<meta name="twitter:title" content="Tweet-verified fact">
<meta name="twitter:description" content="#ferritfacts">
<meta name="twitter:image" content="{{my_url}}/img/{{fcode}}.png">
<meta name="twitter:image:src" content="{{my_url}}/img/{{fcode}}.png">

<div class="social-bar">
	<a class="pseudo button fa fa-twitter twitter-share-button" href="https://twitter.com/share?text=RT @{{screen_name}} {{shorttext}}" class="twitter-share-button"
		data-hashtags="ferritfacts" data-related="ferritus"
		data-show-count="false"></a>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  <a class='pseudo button fa fa-facebook facebook-share' href='https://www.facebook.com/sharer/sharer.php?u=&quot;{{my_url}}/{{fcode}}&quot;' alt='Share on facebook'></a>
	<a class='pseudo button fa fa-envelope' href='mailto:?subject=Check out what {{screen_name}} tweeted&amp;body="{{text}}" - {{my_url}}/{{fcode}}' alt='Share via email'></a>
	<a class='pseudo button fa fa-download' href='/img/{{fcode}}.png'></a>
</div>

<div class="container">
<div class="flex five">
	<div class="four-fifth">
  	<div class='ferrit'>
    	{{#if summary}}
    	<header>
      	{{summary}}
    	</header>
    	{{/if}}
    	<a href='http://twitter.com/{{screen_name}}/status/{{id}}'>
      	<img class='ferrit' src='/img/{{fcode}}.png' alt='{{text}}'></a>
  	</div>
	</div>
	<div>
	<!-- Meta data section -->
		<div class="fcode">ferrit #{{fcode}}</div>
		<article class="card">
			<header>Text</header>
			<p>“{{{text}}}”</p>
		</article>

		<article class="card">
			<header>Source</header>
			<p><a href='http://twitter.com/{{screen_name}}/status/{{id}}'>
			  <i class="fa fa-external-link-square"></i> Twitter {{created_at}}
			</a></p>
		</article>
	</div>
</div>
</div>
</body>

<script>
document.onkeydown = function(e){
  if (e.keyCode == 27) {
    var mods = document.querySelectorAll('.modal > [type=checkbox]');
    [].forEach.call(mods, function(mod){ mod.checked = false; });
  }
}
</script>
